<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>924645965609-uf58a29o30pqhk9u5fr0mo24cfmciliu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.924645965609-uf58a29o30pqhk9u5fr0mo24cfmciliu</string>
	<key>API_KEY</key>
	<string>AIzaSyCNHurvC8h1N0m1YiL1i1Vwmr8O1kR5pkk</string>
	<key>GCM_SENDER_ID</key>
	<string>924645965609</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finalProjectApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>cmsc23-final-project-a2cc4</string>
	<key>STORAGE_BUCKET</key>
	<string>cmsc23-final-project-a2cc4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:924645965609:ios:7f62cc1eb700369c524138</string>
</dict>
</plist>